#errorScreen {
	background-color: #fff;
}

body {
	background: linear-gradient(rgba(15, 48, 15, 0.815), rgba(7, 20, 7, 0.404)),
		url("../../assets/bg.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
